$orange-clr: #f37c21;
$blue-clr: #379fef;
$green-clr: #22dd54a3;
$purple-clr: #2b2d6e;
$yellow-light-clr: rgb(243, 233, 196);
$border-color: #0002;

$dark-grey-clr: hsl(210, 8%, 15%);
$light-grey-clr: #666;
$lighter-grey-clr: #ddd;
$black-clr: #000;
$yellow-clr: #ffb500;

$background-main-color: #f8f9f9;

$internal-padding: 0 2rem;

$first-screen-break: 1250px; 
$second-screen-break: 832px;
$third-screen-break: 640px;

:root {
    --ff-sans: "Source Sans Pro", sans-serif;
    --ff-blink: "blinker", sans-serif;
    --ff-roboto: "Roboto Slab", serif;
    --black-800: hsla(210, 8%, 15%, 1);
    --black-600: hsla(210, 8%, 35%, 1);
    --black-500: hsl(210, 8%, 45%);
    --black-300: hsl(210, 8%, 65%);
    --yellow-200: hsl(47, 65%, 84%);
    --orange-800: hsl(27, 87%, 35%);
    --white-text-color: white;
    --grey-text-color: #aaa;
}
