.orange-clr {
    --color: #{$orange-clr};
}
.grey-lighter-clr {
    --color: #{$lighter-grey-clr};
}
.grey-dark-clr {
    --color: #{$dark-grey-clr};
}
.purple-clr {
    --color: #{$purple-clr};
}
.blue-clr{
    --color: #{$blue-clr};
}