.search-form {
    @include flex-box($content: center);
    width: 100%;
    position: relative;
    .main-icon {
        position: absolute;
        left: 1rem;
    }
    .close-icon {
        position: absolute;
        right: 1rem;
        display: none;
        &:hover {
            color: #222;
        }
    }
    .search-input {
        font-size: var(--font-size);
        border: 1px solid #0002;
        width: 100%;
        padding: 0.4rem 1rem 0.4rem 2.5rem;
        &:focus {
            outline: 3px solid rgba(114, 214, 209, 0.2);
        }
        &:not(:placeholder-shown) {
            & ~ .close-icon {
                display: inline-block;
            }
        }
    }
}
