@import "../main";
@import "../grid-page";

.global-wrapper {
    & > main {
        padding: 1rem 0;
        @include flex-box($direction: column, $gap: 1rem, $items: flex-start);
        & > header {
            @include flex-box(
                $direction: column,
                $gap: 1rem,
                $items: flex-start
            );
            width: 100%;
            margin-top: 1rem;
            padding: $internal-padding;
            h1 {
                font-weight: normal;
            }
            p {
                max-width: 40em;
            }
            .blue-link {
                font-size: 0.9em;
            }
        }
        & > .main-container {
            padding: 0;
            & > section {
                padding: $internal-padding;
                @include flex-box(
                    $direction: column,
                    $gap: 1rem,
                    $items: flex-start
                );
                width: 100%;
                & > .head {
                    width: 100%;
                    & > div {
                        margin: 0.3rem 0;
                    }
                    .search-bar {
                        float: left;
                        color: var(--grey-text-color);
                        input {
                            border-radius: 3px;
                        }
                        input::placeholder {
                            font-size: 0.9em;
                        }
                    }
                    .buttons-block {
                        float: right;
                    }
                }
                & > .main {
                    @include grid-box(
                        $share: repeat(4, 1fr),
                        $gap: 0.7rem,
                        $items: flex-start
                    );
                    width: 100%;
                    .tag-block {
                        height: 100%;
                    }
                    @media #{custom-query-param(1250px)} {
                        @include grid-box(
                            $share: repeat(3, 1fr),
                            $gap: 0.7rem,
                            $items: flex-start
                        );
                    }
                    @media #{custom-query-param(970px)} {
                        @include grid-box(
                            $share: repeat(2, 1fr),
                            $gap: 0.7rem,
                            $items: flex-start
                        );
                    }
                    @media #{custom-query-param(700px)} {
                        @include grid-box(
                            $share: 1fr,
                            $gap: 0.7rem,
                            $items: flex-start
                        );
                    }
                }
            }
        }
    }
}
