@mixin responsive-heading($size, $weight: bold) {
    font-weight: $weight;
    font-size: $size;
    @media #{media-query-param(2)} {
        font-size: $size * 0.9;
    }
    @media #{media-query-param(3)} {
        font-size: $size * 0.8;
    }
    @media #{media-query-param(4)} {
        font-size: $size * 0.6;
    }
}
@mixin paragraph($size: 1rem) {
    font-size: $size;
    @media #{media-query-param(3)} {
        font-size: $size * 0.9;
    }
}
